(
    release_refs: {
        7019642: "v0.1.0 (6d1f732)",
        7340128: "v0.1.1 (4601265)",
        10142471: "v0.1.2 (0e7c0f7)",
        11411244: "v0.2.0 (0aff800)",
        12581090: "v0.2.1 (8ac731e)",
        16099131: "v0.2.2 (298c9f5)",
        18536688: "v0.2.3 (ac7a1eb)",
        21036129: "v0.2.4 (d645338)",
        24826958: "v0.2.5 (4f6e77e)",
        25615079: "v0.2.6 (6c3c857)",
        29737620: "v0.3.0 (135cc10)",
        31862685: "v0.3.1 (d01dcea)",
        33326902: "v0.3.2 (cea5fab)",
        39758575: "v0.3.3 (3f65f28)",
        46404349: "v0.3.4 (e0daac9)",
        46735733: "v0.3.4.1 (5087e77)",
        52843476: "v0.3.5 (b9bc8d0)",
        53802084: "v0.3.5.1 (61c67af)",
        65263754: "v0.4.0 (c6302a1)",
        71216672: "v0.4.1 (be518f4)",
        79041300: "v0.4.2 (8ceea45)",
        86018994: "v0.4.3 (285e0fc)",
        97202795: "v0.4.4 (9e4918c)",
        102193248: "v0.4.5 (76ca840)",
        119739164: "v0.4.6 (b40b5da)",
        135437422: "v0.4.7 (0e8d46e)",
        139813939: "v0.4.8 (05efdb2)",
        144510887: "v0.4.9 (a172405)",
        149467373: "v0.4.10 (e55d761)",
        154316057: "v0.4.11 (18d2b5e)",
        164301615: "v0.4.12 (1b5ff88)",
        168614972: "v0.4.13 (caacd4d)",
        172953391: "v0.4.14 (18492da)",
        178569782: "v0.4.15 (c7c8fad)",
        183267355: "v0.4.16 (c1082a3)",
        189599272: "v0.4.17 (60dc190)",
        193775043: "v0.4.18 (8c19879)",
        197940060: "v0.4.19 (088081d)",
        198184119: "v0.4.19.1 (455f22b)",
        202370656: "v0.4.20 (1c1b6d4)",
    },
    assets: {
        (4314271, 6831714): (
            id: 4314317,
            size: 10717969,
            offsets: None,
            hash: Some("ca49efaf5aca4b57def8662131e3e2b65f7b3772e2787c24ebed266ecd323fcb"),
            has_dll: true,
        ),
        (4314317, 10717969): (
            id: 4314317,
            size: 10717969,
            offsets: Some((
                screen_flags: Some(16043458),
                completed_value: Some(16041252),
            )),
            hash: None,
            has_dll: true,
        ),
        (4541042, 10484181): (
            id: 4541042,
            size: 10484181,
            offsets: Some((
                screen_flags: Some(9305171),
                completed_value: Some(15972964),
            )),
            hash: None,
            has_dll: true,
        ),
        (4541044, 6823190): (
            id: 4541042,
            size: 10484181,
            offsets: None,
            hash: Some("16d3acefa040aa0c40c79a63e88f180a541ad2d8b778ca1cb6f4161138706b0a"),
            has_dll: true,
        ),
        (6551800, 9497073): (
            id: 6551802,
            size: 14507434,
            offsets: None,
            hash: Some("acd53a0c6d5759c93773eb8988ddb9657e9a54489329d7d16679aa8d541c715d"),
            has_dll: true,
        ),
        (6551802, 14507434): (
            id: 6551802,
            size: 14507434,
            offsets: Some((
                screen_flags: Some(10401110),
                completed_value: Some(13246104),
            )),
            hash: None,
            has_dll: true,
        ),
        (7481656, 15069242): (
            id: 7481656,
            size: 15069242,
            offsets: Some((
                screen_flags: Some(10235566),
                completed_value: Some(13182312),
            )),
            hash: None,
            has_dll: true,
        ),
        (7481658, 11294144): (
            id: 7481656,
            size: 15069242,
            offsets: None,
            hash: Some("71eba971aeee310c03106ba67f61769f01817168d3d4a68f2069dd04e75f9901"),
            has_dll: true,
        ),
        (8401593, 15300101): (
            id: 8401593,
            size: 15300101,
            offsets: Some((
                screen_flags: Some(10315626),
                completed_value: Some(13328900),
            )),
            hash: None,
            has_dll: true,
        ),
        (8401603, 11451849): (
            id: 8401593,
            size: 15300101,
            offsets: None,
            hash: Some("8811e80831182297410ef94b7e5e45f302753865609dc00439e8c0c8c42d2297"),
            has_dll: true,
        ),
        (11515920, 16603401): (
            id: 11515920,
            size: 16603401,
            offsets: Some((
                screen_flags: Some(10548799),
                completed_value: Some(13565364),
            )),
            hash: None,
            has_dll: true,
        ),
        (11515921, 11693405): (
            id: 11515920,
            size: 16603401,
            offsets: None,
            hash: Some("7d0818603af935e960af602805b07a57a9235549b48880a51e858ef54f2676a7"),
            has_dll: true,
        ),
        (13647679, 17637235): (
            id: 13647679,
            size: 17637235,
            offsets: Some((
                screen_flags: Some(10821622),
                completed_value: Some(13078824),
            )),
            hash: None,
            has_dll: true,
        ),
        (13647681, 11027954): (
            id: 13647679,
            size: 17637235,
            offsets: None,
            hash: Some("20ebff6e0e6f4b8c7b9e93f7d9465e63a674c1581f78e1cee6745aac4d09c153"),
            has_dll: true,
        ),
        (15791206, 17902849): (
            id: 15791206,
            size: 17902849,
            offsets: Some((
                screen_flags: Some(10906095),
                completed_value: Some(14735908),
            )),
            hash: None,
            has_dll: true,
        ),
        (15791210, 10763580): (
            id: 15791206,
            size: 17902849,
            offsets: None,
            hash: Some("4d798b22ba0455cb1fc27565e5ffcb3912eeb655f2c5f5d41e61b6e4abdebfea"),
            has_dll: true,
        ),
        (18963877, 13649351): (
            id: 18963888,
            size: 19178627,
            offsets: None,
            hash: Some("f90120d4d1bb5595b23a71ea0bd52bc22d5105ca28201b5f47d14beab4cb9309"),
            has_dll: false,
        ),
        (18963888, 19178627): (
            id: 18963888,
            size: 19178627,
            offsets: Some((
                screen_flags: Some(9479011),
                completed_value: Some(13305504),
            )),
            hash: None,
            has_dll: false,
        ),
        (19919280, 13702600): (
            id: 19919285,
            size: 19267292,
            offsets: None,
            hash: Some("1fba35105b12c0292b16d9f003897aa5a5884f3412346da68919325827c92c0d"),
            has_dll: false,
        ),
        (19919285, 19267292): (
            id: 19919285,
            size: 19267292,
            offsets: Some((
                screen_flags: Some(9503603),
                completed_value: Some(13330620),
            )),
            hash: None,
            has_dll: false,
        ),
        (23967739, 22282940): (
            id: 23967739,
            size: 22282940,
            offsets: Some((
                screen_flags: Some(10884979),
                completed_value: Some(10895164),
            )),
            hash: None,
            has_dll: false,
        ),
        (23967743, 15547725): (
            id: 23967739,
            size: 22282940,
            offsets: None,
            hash: Some("960d49fa00c658886e66ec119f07668584ab768b21b10beade5d9d6a164c2a29"),
            has_dll: false,
        ),
        (26254748, 15958866): (
            id: 26254753,
            size: 23318380,
            offsets: None,
            hash: Some("e75d4d8f3455ba359cb0266c0ef3b49ed926c27a6ac7457bbdb1c020ccd8aabb"),
            has_dll: false,
        ),
        (26254753, 23318380): (
            id: 26254753,
            size: 23318380,
            offsets: Some((
                screen_flags: Some(11391331),
                completed_value: Some(11405196),
            )),
            hash: None,
            has_dll: false,
        ),
        (27809408, 16600225): (
            id: 27809411,
            size: 23586620,
            offsets: None,
            hash: Some("c3908f3291d5e007a9e719ead410669e1fe577759b2d5eed48e75d56c677f740"),
            has_dll: false,
        ),
        (27809411, 23586620): (
            id: 27809411,
            size: 23586620,
            offsets: Some((
                screen_flags: Some(11552162),
                completed_value: Some(11562092),
            )),
            hash: None,
            has_dll: false,
        ),
        (33414181, 17073701): (
            id: 33414185,
            size: 25591553,
            offsets: None,
            hash: Some("96f1a3cadeaf1e36ae38b0f91085d468be26b026948c4e96fbd599cba6c6b45d"),
            has_dll: false,
        ),
        (33414185, 25591553): (
            id: 33414185,
            size: 25591553,
            offsets: Some((
                screen_flags: Some(12156036),
                completed_value: Some(12167100),
            )),
            hash: None,
            has_dll: false,
        ),
        (40615050, 17128354): (
            id: 40615064,
            size: 25322834,
            offsets: None,
            hash: Some("7c4fde5f3f6a01ea0f291b921b6260b1a73bb90731b57d5a9606ac940446780c"),
            has_dll: false,
        ),
        (40615064, 25322834): (
            id: 40615064,
            size: 25322834,
            offsets: Some((
                screen_flags: Some(12225860),
                completed_value: Some(12233232),
            )),
            hash: None,
            has_dll: false,
        ),
        (40999653, 17131408): (
            id: 40999751,
            size: 25321226,
            offsets: None,
            hash: Some("19c08aca7b3b12160db173a481a72a3acf727d2cc842ece10fe5f5a59fabc8d9"),
            has_dll: false,
        ),
        (40999751, 25321226): (
            id: 40999751,
            size: 25321226,
            offsets: Some((
                screen_flags: Some(12225876),
                completed_value: Some(12233248),
            )),
            hash: None,
            has_dll: false,
        ),
        (48772132, 16901655): (
            id: 48772153,
            size: 24995496,
            offsets: None,
            hash: Some("a8a80bd6de6675e112dc27d74ffbe359b3f9746000a1e7a484eae5f1424281b5"),
            has_dll: false,
        ),
        (48772153, 24995496): (
            id: 48772153,
            size: 24995496,
            offsets: Some((
                screen_flags: Some(11927539),
                completed_value: Some(11934920),
            )),
            hash: None,
            has_dll: false,
        ),
        (49995628, 16895616): (
            id: 49995638,
            size: 24910447,
            offsets: None,
            hash: Some("87c62541f2f4c5d42f5415155ce8fac84d43565a6da860afe046f265cb738f0d"),
            has_dll: false,
        ),
        (49995638, 24910447): (
            id: 49995638,
            size: 24910447,
            offsets: Some((
                screen_flags: Some(11917571),
                completed_value: Some(11924952),
            )),
            hash: None,
            has_dll: false,
        ),
        (63607758, 23125389): (
            id: 63607799,
            size: 32919712,
            offsets: None,
            hash: Some("800e53b5505f97ec465c1592945a3f76db7f451658276b415adb250f6e6a2a8f"),
            has_dll: false,
        ),
        (63607799, 32919712): (
            id: 63607799,
            size: 32919712,
            offsets: Some((
                screen_flags: Some(14601960),
                completed_value: Some(14607776),
            )),
            hash: None,
            has_dll: false,
        ),
        (70542788, 24330228): (
            id: 70542814,
            size: 34912291,
            offsets: None,
            hash: Some("e4b01b45a22535995e6521857ea77bf71d0c4c5fcca2d72e8d242fdf3ea77b37"),
            has_dll: false,
        ),
        (70542814, 34912291): (
            id: 70542814,
            size: 34912291,
            offsets: Some((
                screen_flags: Some(15713687),
                completed_value: Some(15719504),
            )),
            hash: None,
            has_dll: false,
        ),
        (80029859, 25300660): (
            id: 80029910,
            size: 36652396,
            offsets: None,
            hash: Some("fc7eb584c2cc82d4459367ea86123ad3245275c217ea92c932a7e05dfab9e8e0"),
            has_dll: false,
        ),
        (80029910, 36652396): (
            id: 80029910,
            size: 36652396,
            offsets: Some((
                screen_flags: Some(15544976),
                completed_value: Some(15550792),
            )),
            hash: None,
            has_dll: false,
        ),
        (88184528, 33981721): (
            id: 88184613,
            size: 38059523,
            offsets: None,
            hash: Some("65c950460a7f15abdc5f6dfcdff7bcd2555d6882c50069dc8aea8bf032c90690"),
            has_dll: false,
        ),
        (88184613, 38059523): (
            id: 88184613,
            size: 38059523,
            offsets: Some((
                screen_flags: Some(16278736),
                completed_value: Some(16284552),
            )),
            hash: None,
            has_dll: false,
        ),
        (101327845, 40557134): (
            id: 101327845,
            size: 40557134,
            offsets: Some((
                screen_flags: Some(17599800),
                completed_value: Some(17592504),
            )),
            hash: None,
            has_dll: false,
        ),
        (101327893, 38927671): (
            id: 101327845,
            size: 40557134,
            offsets: None,
            hash: Some("7707d4752ea1a028dc9b526ce4da39af1b1331a47ae83624e81025156f7c4fad"),
            has_dll: false,
        ),
        (107214825, 65999659): (
            id: 107214936,
            size: 36129688,
            offsets: None,
            hash: Some("45ea93c9a3668db45c91c7a4ef38c1f01d3b04df4425900edaeeffb826592db0"),
            has_dll: false,
        ),
        (107214936, 36129688): (
            id: 107214936,
            size: 36129688,
            offsets: Some((
                screen_flags: Some(16841560),
                completed_value: Some(16834264),
            )),
            hash: None,
            has_dll: false,
        ),
        (124371807, 61385629): (
            id: 124372253,
            size: 33905230,
            offsets: None,
            hash: Some("fdd7c68b753603dd64be9610667a5c13a5a520ed29b9df2438a5320f9a9bcb1e"),
            has_dll: false,
        ),
        (124372253, 33905230): (
            id: 124372253,
            size: 33905230,
            offsets: Some((
                screen_flags: Some(16692024),
                completed_value: Some(16684728),
            )),
            hash: None,
            has_dll: false,
        ),
        (143160635, 33879909): (
            id: 143160635,
            size: 33879909,
            offsets: Some((
                screen_flags: Some(16299032),
                completed_value: Some(16291736),
            )),
            hash: None,
            has_dll: false,
        ),
        (143160656, 64668372): (
            id: 143160635,
            size: 33879909,
            offsets: None,
            hash: Some("a744e9fd07942297f42431b210de9cbdc99667cc77e0b59cf245b9d8867d67f0"),
            has_dll: false,
        ),
        (149754984, 64700454): (
            id: 149755005,
            size: 34012659,
            offsets: None,
            hash: Some("4aeddcd439fe6f7969f3dad961221a6667397c70acc4f82cf17455aa5ceababa"),
            has_dll: false,
        ),
        (149755005, 34012659): (
            id: 149755005,
            size: 34012659,
            offsets: Some((
                screen_flags: Some(16414088),
                game_state: Some(14456224),
                game_state_is_pointer: Some(false),
                game_state_completed_value: Some(2224),
            )),
            hash: None,
            has_dll: false,
        ),
        (154591143, 34394341): (
            id: 154591143,
            size: 34394341,
            offsets: Some((
                screen_flags: Some(32480952),
                game_state: Some(14472608),
                game_state_is_pointer: Some(false),
                game_state_completed_value: Some(2320),
            )),
            hash: None,
            has_dll: false,
        ),
        (154591153, 65624942): (
            id: 154591143,
            size: 34394341,
            offsets: None,
            hash: Some("2eaaba053c6e75881936e8895dd3d2edd833cd668dd92c98780480f11ea07606"),
            has_dll: false,
        ),
        (159953414, 34435723): (
            id: 159953414,
            size: 34435723,
            offsets: Some((
                screen_flags: Some(66066696),
                game_state: Some(14488992),
                game_state_is_pointer: Some(false),
                game_state_completed_value: Some(3480),
            )),
            hash: None,
            has_dll: false,
        ),
        (159953566, 65779441): (
            id: 159953414,
            size: 34435723,
            offsets: None,
            hash: Some("4953aad87925132c77a0a3373eac063fc7c78b5f698d2d73c09321621b444cbe"),
            has_dll: false,
        ),
        (166132362, 34571585): (
            id: 166132362,
            size: 34571585,
            offsets: Some((
                screen_flags: Some(66090696),
                game_state: Some(14468480),
                game_state_is_pointer: Some(false),
                game_state_completed_value: Some(3552),
            )),
            hash: None,
            has_dll: false,
        ),
        (166132379, 65827711): (
            id: 166132362,
            size: 34571585,
            offsets: None,
            hash: Some("4addc2ffa4c3f9f4b1c97fd64b051ab492f5e745ede8669efe3f75d42e1ba264"),
            has_dll: false,
        ),
        (178196873, 65922837): (
            id: 178196958,
            size: 34722957,
            offsets: None,
            hash: Some("6be0bbe387a0335fbe9c22fdbeb4c599c196e3054a4f10acd782d7d4a4ee78cf"),
            has_dll: false,
        ),
        (178196958, 34722957): (
            id: 178196958,
            size: 34722957,
            offsets: Some((
                screen_flags: Some(66317944),
                game_state: Some(14693760),
                game_state_is_pointer: Some(false),
                game_state_completed_value: Some(3552),
            )),
            hash: None,
            has_dll: false,
        ),
        (183849387, 35076534): (
            id: 183849387,
            size: 35076534,
            offsets: Some((
                screen_flags: Some(66311205),
                game_state: Some(14701872),
                game_state_is_pointer: Some(false),
                game_state_completed_value: Some(3552),
            )),
            hash: None,
            has_dll: false,
        ),
        (183849460, 68307820): (
            id: 183849387,
            size: 35076534,
            offsets: None,
            hash: Some("47c7eaaf8af42243413edde7688ab1971e37b2a818d09b55507b1576c1766850"),
            has_dll: false,
        ),
        (189758692, 35063461): (
            id: 189758692,
            size: 35063461,
            offsets: Some((
                screen_flags: Some(65969973),
                game_state: Some(14357808),
                game_state_is_pointer: Some(false),
                game_state_completed_value: Some(3552),
            )),
            hash: None,
            has_dll: false,
        ),
        (189758695, 73538895): (
            id: 189758692,
            size: 35063461,
            offsets: None,
            hash: Some("125be8afd669438c086225313e2bdf2211c56803291c5c6814d0d51288260787"),
            has_dll: false,
        ),
        (197230275, 73494307): (
            id: 197230705,
            size: 34763324,
            offsets: None,
            hash: Some("da439d73fa37c32a9e829900dd379d91d62bffe20d4c39289f03f24146513827"),
            has_dll: false,
        ),
        (197230705, 34763324): (
            id: 197230705,
            size: 34763324,
            offsets: Some((
                screen_flags: Some(16508645),
                game_state: Some(15127712),
                game_state_is_pointer: Some(true),
                game_state_completed_value: Some(3584),
            )),
            hash: None,
            has_dll: false,
        ),
        (203804816, 76340886): (
            id: 203804942,
            size: 36436774,
            offsets: None,
            hash: Some("0d1fec4ecf12422747e3a414d76d489235354e6b90fccc13cfcc899c32d845b6"),
            has_dll: false,
        ),
        (203804942, 36436774): (
            id: 203804942,
            size: 36436774,
            offsets: Some((
                screen_flags: Some(17137445),
                game_state: Some(17235552),
                game_state_is_pointer: Some(true),
                game_state_completed_value: Some(3584),
            )),
            hash: None,
            has_dll: false,
        ),
        (211921423, 35079706): (
            id: 211921423,
            size: 35079706,
            offsets: Some((
                screen_flags: Some(16821669),
                game_state: Some(15327072),
                game_state_is_pointer: Some(true),
                game_state_completed_value: Some(3584),
            )),
            hash: None,
            has_dll: false,
        ),
        (211921425, 76120218): (
            id: 211921423,
            size: 35079706,
            offsets: None,
            hash: Some("1553139ce355e93c39c58d81e6f79954dbb28a002579025958a5bb6bb91a767d"),
            has_dll: false,
        ),
        (218960617, 76553596): (
            id: 218960624,
            size: 35323112,
            offsets: None,
            hash: Some("41b47eeb491513b72c9b733bd45e2e62ce941e131bbf5ecc25d17232b5087b4d"),
            has_dll: false,
        ),
        (218960624, 35323112): (
            id: 218960624,
            size: 35323112,
            offsets: Some((
                screen_flags: Some(16907765),
                game_state: Some(15413440),
                game_state_is_pointer: Some(true),
                game_state_completed_value: Some(3584),
            )),
            hash: None,
            has_dll: false,
        ),
        (225482257, 77128298): (
            id: 225482258,
            size: 35644903,
            offsets: None,
            hash: Some("62ebb64e2531821775e2fc130cfa0750b5ff13be82aab8004f4f5ce0644a3e38"),
            has_dll: false,
        ),
        (225482258, 35644903): (
            id: 225482258,
            size: 35644903,
            offsets: Some((
                screen_flags: Some(16909125),
                game_state: Some(15528464),
                game_state_is_pointer: Some(true),
                game_state_completed_value: Some(3584),
            )),
            hash: None,
            has_dll: false,
        ),
        (225961617, 77127911): (
            id: 225961623,
            size: 35646126,
            offsets: None,
            hash: Some("a51ffddce922f0aa858913d82028309af528321f545caddd6383f1cf111540af"),
            has_dll: false,
        ),
        (225961623, 35646126): (
            id: 225961623,
            size: 35646126,
            offsets: Some((
                screen_flags: Some(16909125),
                game_state: Some(15528464),
                game_state_is_pointer: Some(true),
                game_state_completed_value: Some(3584),
            )),
            hash: None,
            has_dll: false,
        ),
        (232501759, 35629156): (
            id: 232501759,
            size: 35629156,
            offsets: Some((
                screen_flags: Some(16913221),
                game_state: Some(15532560),
                game_state_is_pointer: Some(true),
                game_state_completed_value: Some(3584),
            )),
            hash: None,
            has_dll: false,
        ),
        (232501766, 77136995): (
            id: 232501759,
            size: 35629156,
            offsets: None,
            hash: Some("1531e13f8226b351b6621e6f2643565f72fc954c54dcc45aa1c51534c67f2099"),
            has_dll: false,
        ),
    },
)