(
    release_refs: {
        7019642: "v0.1.0 (6d1f732)",
        7340128: "v0.1.1 (4601265)",
        10142471: "v0.1.2 (0e7c0f7)",
        11411244: "v0.2.0 (0aff800)",
        12581090: "v0.2.1 (8ac731e)",
        16099131: "v0.2.2 (298c9f5)",
        18536688: "v0.2.3 (ac7a1eb)",
        21036129: "v0.2.4 (d645338)",
        24826958: "v0.2.5 (4f6e77e)",
        25615079: "v0.2.6 (6c3c857)",
        29737620: "v0.3.0 (135cc10)",
        31862685: "v0.3.1 (d01dcea)",
        33326902: "v0.3.2 (cea5fab)",
        39758575: "v0.3.3 (3f65f28)",
        46404349: "v0.3.4 (e0daac9)",
        46735733: "v0.3.4.1 (5087e77)",
        52843476: "v0.3.5 (b9bc8d0)",
        53802084: "v0.3.5.1 (61c67af)",
        65263754: "v0.4.0 (c6302a1)",
        71216672: "v0.4.1 (be518f4)",
    },
    assets: {
        (4314271, 6831714): (
            id: 4314317,
            size: 10717969,
            offsets: None,
            hash: Some("ca49efaf5aca4b57def8662131e3e2b65f7b3772e2787c24ebed266ecd323fcb"),
            has_dll: true,
        ),
        (4314317, 10717969): (
            id: 4314317,
            size: 10717969,
            offsets: Some({
                "gScenarioCompletedCompanyValue": 16041252,
                "gScreenFlags": 16043458,
            }),
            hash: None,
            has_dll: true,
        ),
        (4541042, 10484181): (
            id: 4541042,
            size: 10484181,
            offsets: Some({
                "gScenarioCompletedCompanyValue": 15972964,
                "gScreenFlags": 9305171,
            }),
            hash: None,
            has_dll: true,
        ),
        (4541044, 6823190): (
            id: 4541042,
            size: 10484181,
            offsets: None,
            hash: Some("16d3acefa040aa0c40c79a63e88f180a541ad2d8b778ca1cb6f4161138706b0a"),
            has_dll: true,
        ),
        (6551800, 9497073): (
            id: 6551802,
            size: 14507434,
            offsets: None,
            hash: Some("acd53a0c6d5759c93773eb8988ddb9657e9a54489329d7d16679aa8d541c715d"),
            has_dll: true,
        ),
        (6551802, 14507434): (
            id: 6551802,
            size: 14507434,
            offsets: Some({
                "gScenarioCompletedCompanyValue": 13246104,
                "gScreenFlags": 10401110,
            }),
            hash: None,
            has_dll: true,
        ),
        (7481656, 15069242): (
            id: 7481656,
            size: 15069242,
            offsets: Some({
                "gScenarioCompletedCompanyValue": 13182312,
                "gScreenFlags": 10235566,
            }),
            hash: None,
            has_dll: true,
        ),
        (7481658, 11294144): (
            id: 7481656,
            size: 15069242,
            offsets: None,
            hash: Some("71eba971aeee310c03106ba67f61769f01817168d3d4a68f2069dd04e75f9901"),
            has_dll: true,
        ),
        (8401593, 15300101): (
            id: 8401593,
            size: 15300101,
            offsets: Some({
                "gScenarioCompletedCompanyValue": 13328900,
                "gScreenFlags": 10315626,
            }),
            hash: None,
            has_dll: true,
        ),
        (8401603, 11451849): (
            id: 8401593,
            size: 15300101,
            offsets: None,
            hash: Some("8811e80831182297410ef94b7e5e45f302753865609dc00439e8c0c8c42d2297"),
            has_dll: true,
        ),
        (11515920, 16603401): (
            id: 11515920,
            size: 16603401,
            offsets: Some({
                "gScenarioCompletedCompanyValue": 13565364,
                "gScreenFlags": 10548799,
            }),
            hash: None,
            has_dll: true,
        ),
        (11515921, 11693405): (
            id: 11515920,
            size: 16603401,
            offsets: None,
            hash: Some("7d0818603af935e960af602805b07a57a9235549b48880a51e858ef54f2676a7"),
            has_dll: true,
        ),
        (13647679, 17637235): (
            id: 13647679,
            size: 17637235,
            offsets: Some({
                "gScenarioCompletedCompanyValue": 13078824,
                "gScreenFlags": 10821622,
            }),
            hash: None,
            has_dll: true,
        ),
        (13647681, 11027954): (
            id: 13647679,
            size: 17637235,
            offsets: None,
            hash: Some("20ebff6e0e6f4b8c7b9e93f7d9465e63a674c1581f78e1cee6745aac4d09c153"),
            has_dll: true,
        ),
        (15791206, 17902849): (
            id: 15791206,
            size: 17902849,
            offsets: Some({
                "gScenarioCompletedCompanyValue": 14735908,
                "gScreenFlags": 10906095,
            }),
            hash: None,
            has_dll: true,
        ),
        (15791210, 10763580): (
            id: 15791206,
            size: 17902849,
            offsets: None,
            hash: Some("4d798b22ba0455cb1fc27565e5ffcb3912eeb655f2c5f5d41e61b6e4abdebfea"),
            has_dll: true,
        ),
        (18963877, 13649351): (
            id: 18963888,
            size: 19178627,
            offsets: None,
            hash: Some("f90120d4d1bb5595b23a71ea0bd52bc22d5105ca28201b5f47d14beab4cb9309"),
            has_dll: false,
        ),
        (18963888, 19178627): (
            id: 18963888,
            size: 19178627,
            offsets: Some({
                "gScenarioCompletedCompanyValue": 13305504,
                "gScreenFlags": 9479011,
            }),
            hash: None,
            has_dll: false,
        ),
        (19919280, 13702600): (
            id: 19919285,
            size: 19267292,
            offsets: None,
            hash: Some("1fba35105b12c0292b16d9f003897aa5a5884f3412346da68919325827c92c0d"),
            has_dll: false,
        ),
        (19919285, 19267292): (
            id: 19919285,
            size: 19267292,
            offsets: Some({
                "gScenarioCompletedCompanyValue": 13330620,
                "gScreenFlags": 9503603,
            }),
            hash: None,
            has_dll: false,
        ),
        (23967739, 22282940): (
            id: 23967739,
            size: 22282940,
            offsets: Some({
                "gScenarioCompletedCompanyValue": 10895164,
                "gScreenFlags": 10884979,
            }),
            hash: None,
            has_dll: false,
        ),
        (23967743, 15547725): (
            id: 23967739,
            size: 22282940,
            offsets: None,
            hash: Some("960d49fa00c658886e66ec119f07668584ab768b21b10beade5d9d6a164c2a29"),
            has_dll: false,
        ),
        (26254748, 15958866): (
            id: 26254753,
            size: 23318380,
            offsets: None,
            hash: Some("e75d4d8f3455ba359cb0266c0ef3b49ed926c27a6ac7457bbdb1c020ccd8aabb"),
            has_dll: false,
        ),
        (26254753, 23318380): (
            id: 26254753,
            size: 23318380,
            offsets: Some({
                "gScenarioCompletedCompanyValue": 11405196,
                "gScreenFlags": 11391331,
            }),
            hash: None,
            has_dll: false,
        ),
        (27809408, 16600225): (
            id: 27809411,
            size: 23586620,
            offsets: None,
            hash: Some("c3908f3291d5e007a9e719ead410669e1fe577759b2d5eed48e75d56c677f740"),
            has_dll: false,
        ),
        (27809411, 23586620): (
            id: 27809411,
            size: 23586620,
            offsets: Some({
                "gScenarioCompletedCompanyValue": 11562092,
                "gScreenFlags": 11552162,
            }),
            hash: None,
            has_dll: false,
        ),
        (33414181, 17073701): (
            id: 33414185,
            size: 25591553,
            offsets: None,
            hash: Some("96f1a3cadeaf1e36ae38b0f91085d468be26b026948c4e96fbd599cba6c6b45d"),
            has_dll: false,
        ),
        (33414185, 25591553): (
            id: 33414185,
            size: 25591553,
            offsets: Some({
                "gScenarioCompletedCompanyValue": 12167100,
                "gScreenFlags": 12156036,
            }),
            hash: None,
            has_dll: false,
        ),
        (40615050, 17128354): (
            id: 40615064,
            size: 25322834,
            offsets: None,
            hash: Some("7c4fde5f3f6a01ea0f291b921b6260b1a73bb90731b57d5a9606ac940446780c"),
            has_dll: false,
        ),
        (40615064, 25322834): (
            id: 40615064,
            size: 25322834,
            offsets: Some({
                "gScenarioCompletedCompanyValue": 12233232,
                "gScreenFlags": 12225860,
            }),
            hash: None,
            has_dll: false,
        ),
        (40999653, 17131408): (
            id: 40999751,
            size: 25321226,
            offsets: None,
            hash: Some("19c08aca7b3b12160db173a481a72a3acf727d2cc842ece10fe5f5a59fabc8d9"),
            has_dll: false,
        ),
        (40999751, 25321226): (
            id: 40999751,
            size: 25321226,
            offsets: Some({
                "gScenarioCompletedCompanyValue": 12233248,
                "gScreenFlags": 12225876,
            }),
            hash: None,
            has_dll: false,
        ),
        (48772132, 16901655): (
            id: 48772153,
            size: 24995496,
            offsets: None,
            hash: Some("a8a80bd6de6675e112dc27d74ffbe359b3f9746000a1e7a484eae5f1424281b5"),
            has_dll: false,
        ),
        (48772153, 24995496): (
            id: 48772153,
            size: 24995496,
            offsets: Some({
                "gScenarioCompletedCompanyValue": 11934920,
                "gScreenFlags": 11927539,
            }),
            hash: None,
            has_dll: false,
        ),
        (49995628, 16895616): (
            id: 49995638,
            size: 24910447,
            offsets: None,
            hash: Some("87c62541f2f4c5d42f5415155ce8fac84d43565a6da860afe046f265cb738f0d"),
            has_dll: false,
        ),
        (49995638, 24910447): (
            id: 49995638,
            size: 24910447,
            offsets: Some({
                "gScenarioCompletedCompanyValue": 11924952,
                "gScreenFlags": 11917571,
            }),
            hash: None,
            has_dll: false,
        ),
        (63607758, 23125389): (
            id: 63607799,
            size: 32919712,
            offsets: None,
            hash: Some("800e53b5505f97ec465c1592945a3f76db7f451658276b415adb250f6e6a2a8f"),
            has_dll: false,
        ),
        (63607799, 32919712): (
            id: 63607799,
            size: 32919712,
            offsets: Some({
                "gScenarioCompletedCompanyValue": 14607776,
                "gScreenFlags": 14601960,
            }),
            hash: None,
            has_dll: false,
        ),
        (70542788, 24330228): (
            id: 70542814,
            size: 34912291,
            offsets: None,
            hash: Some("e4b01b45a22535995e6521857ea77bf71d0c4c5fcca2d72e8d242fdf3ea77b37"),
            has_dll: false,
        ),
        (70542814, 34912291): (
            id: 70542814,
            size: 34912291,
            offsets: Some({
                "gScenarioCompletedCompanyValue": 15719504,
                "gScreenFlags": 15713687,
            }),
            hash: None,
            has_dll: false,
        ),
    },
)